.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.btn-in-navbar {
  background: none;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  transition: background-color 500ms ease;
  margin-right: 15px;
}

.btn-in-navbar:focus {
  outline: none;
}

.btn-in-navbar:hover {
  background-color: #007bff;
}
